[0;1;31m×[0m pomodoro.service - Pomodoro Timer (user)
     Loaded: loaded (]8;;file://raushan80-ms7c51/home/raushan/.config/systemd/user/pomodoro.service\/home/raushan/.config/systemd/user/pomodoro.service]8;;\; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Sun 2026-05-24 08:08:26 IST; 12s ago
   Duration: 213ms
 Invocation: 4958c1f78b614a6a937128ff77f4ddb4
    Process: 10428 ExecStart=/home/raushan/pomodoro/.venv/bin/python -m pomodoro [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 10428 (code=exited, status=1/FAILURE)
   Mem peak: 21.6M
        CPU: 208ms

May 24 08:08:26 raushan80-ms7c51 systemd[1841]: Started pomodoro.service - Pomodoro Timer (user).
May 24 08:08:26 raushan80-ms7c51 python[10428]: Traceback (most recent call last):
May 24 08:08:26 raushan80-ms7c51 python[10428]:   File "<frozen runpy>", line 189, in _run_module_as_main
May 24 08:08:26 raushan80-ms7c51 python[10428]:   File "<frozen runpy>", line 148, in _get_module_details
May 24 08:08:26 raushan80-ms7c51 python[10428]:   File "<frozen runpy>", line 112, in _get_module_details
May 24 08:08:26 raushan80-ms7c51 python[10428]:   File "/home/raushan/pomodoro/__init__.py", line 12, in <module>
May 24 08:08:26 raushan80-ms7c51 python[10428]:     from pomo import run_break_session, run_work_session
May 24 08:08:26 raushan80-ms7c51 python[10428]: ModuleNotFoundError: No module named 'pomo'
May 24 08:08:26 raushan80-ms7c51 systemd[1841]: [0;1;39m[0;1;31m[0;1;39mpomodoro.service: Main process exited, code=exited, status=1/FAILURE[0m
May 24 08:08:26 raushan80-ms7c51 systemd[1841]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mpomodoro.service: Failed with result 'exit-code'.[0m
